/* Variables */
:root {
  /* --primary-color: #D8C3A5; */
  --primary-color: #b08c59;
  --primary-light:#e2d4c0;
  --primary-ultralight: #EAE7DC;
  --red-dark-color: hsl(360, 67%, 44%);
  --red-light-color: #E98074;
  --dark-gray: #484747;
  --gray: #52514f;
  /* --light-gray: #8E8D8A; */
  --light-gray: rgb(162, 158, 175);
  --dark-color: #343a40;;
  --light-color: #fff;
  --white-color: #fff;
  --danger-color: ;
  --success-color: ;
  
  --radius: 0.25rem;
  --spacing: 0.25rem;
  --transition: all 0.3s linear;

}

/* Global */
body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0;
}

.app {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of footer */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-link {
  color: #61dafb;
}

.main {
  width: 90vw;
  margin: auto;
}

.global-shortExplanation {
  font-family: 'Tajawal', sans-serif;
  color: var(--light-color);
  font-size: 2rem;
}

.global-shortExplanation2 {
  font-family: 'PT Sans', sans-serif;
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0;
}

@media (max-width: 860px)  {
  .global-shortExplanation {
    font-size: 27px;
  }
  
  .global-shortExplanation2 {
    font-family: 'PT Sans', sans-serif;
    color: var(--gray);
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
  }
}

/* Button */
button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: var(--gray);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  transition: var(--transition);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  /* font-weight: 700; */
  /* letter-spacing: var(--spacing); */
}

/* button:hover,
button:focus { */
button:hover {
  background: var(--light-gray);
  color: white;
}

/* button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
} */

button:active {
  transform: scale(0.99);
}

/* .btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
} */

/* .btn { */
  /* display: inline-block; */
  /* background: var(--light-color);
  color: #333; */
  /* padding: 0.4rem 1.3rem; */
  /* font-size: 1rem; */
  /* border: none; */
  /* cursor: pointer; */
  /* margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
} */

/* .btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
} */

/* .btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
} */

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
  text-align: center;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 30vw;
  min-width: 200px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: auto
}

.form input[type='submit'],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Padding */
/* .p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
} */

/* Margin */
/* .m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
} */
