.sessionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  column-gap: 1rem;
}
  
// .sessionGrid::before {
// content: '';
//   width: 0;
//   padding-bottom: 100%;
//   grid-row: 1 / 1;
//   grid-column: 1 / 1;
// }

// .sessionGrid > *:first-child {
//   grid-row: 1 / 1;
//   grid-column: 1 / 1;
// }

.shortSessionImg {
  width: 100%;
}

.shortSessionButton {
  margin: 0 auto;
  border: 4px solid #f7f6f4;
  color: white;
}

.shortSessionButton:hover {
  background-color: white;
  color: black;
}
