.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 50px;
}
  
.imageGrid::before {
content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.imageGrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.shortGalleryButton {
    color: #52514f;
    margin: 20px auto;
}

.shortGalleryButton:hover {
    background-color: #8E8D8A;
    color: black;
}